<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Products</div>
        <div class="card-body">
          <h5 class="card-title">Total Products</h5>
          <p class="card-text"><%= @product_count %></p>
          <a href="<%= admin_products_path %>" class="btn btn-light">View Products</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-success mb-3">
        <div class="card-header">Categories</div>
        <div class="card-body">
          <h5 class="card-title">Total Categories</h5>
          <p class="card-text"><%= @category_count %></p>
          <a href="<%= admin_categories_path %>" class="btn btn-light">View Categories</a>
        </div>
      </div>
    </div>
  </div>
</div>
